.filter-container {

  p {
    font-size: 1.8rem;
  }

  .country-container,
  .brand-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .checkbox-label {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
}