.registration-form {
  padding: 1.5rem;
  width: 35rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.registration__title {
  padding: 2rem;

  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: rgb(75, 75, 75);
}

.login-btn-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-hint {
  margin-bottom: -1rem;
  padding: 0;

  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: rgb(75, 75, 75);
}