.line-item-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  font-family: 'Montserrat', sans-serif;
  color: rgb(18, 18, 18);

  border-bottom: 0.1rem solid rgba(49, 49, 49, 0.3);
}

.line-item {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 2rem;

  &__img-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 10rem;
    height: 10rem;

    font-size: 1.6rem;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__link {
    padding-top: 0.5rem;
    font-size: 1.5rem;
    max-height: 2rem;
    color: rgb(14, 14, 14);
  }

  &__actions-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    gap: 2rem;
  }

  &__btn {
    position: relative;

    width: 12rem;
    height: 3rem;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: rgb(202, 202, 202);

    background-color: rgb(14, 14, 14);
    border: 0.1rem solid rgb(14, 14, 14);

    transition: all 0.3s;
    cursor: pointer;
  }

  &__btn-plus,
  &__btn-minus {
    position: relative;
    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all 0.3s;

    &::before {
      content: '+';
      font-size: 3.5rem;
      color: rgb(38, 66, 113);
    }
  }

  &__btn-plus {
    &--disable {
      pointer-events: none;
      &::before {
        font-size: 2.8rem;
        color: rgba(38, 65, 113, 0.5);
      }
    }
  }

  &__btn-minus {
    &::before {
      content: '';
      width: 1.5rem;
      border-bottom: 0.35rem solid rgb(38, 66, 113);
    }

    &--disable {
      pointer-events: none;
      &::before {
        content: '';
        border-bottom: 0.15rem solid rgb(72, 72, 72);
      }
    }
  }

  &__input-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__input {
    width: 5rem;
    height: 4rem;
    text-align: center;
    border: 0.1rem solid rgba(14, 14, 14, 0.4);
    font-family: 'Montserrat', sans-serif;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
      /* Убрать отступы, чтобы избежать смещения текста */
    }

    &:focus {
      outline: 0.3rem solid rgba(20, 206, 248, 0.708);
    }
  }

  &__price-wrapper {
    min-width: 12rem;
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 0.5rem
  }

  &__price-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  &__dicsount-price {
    font-size: 1.8rem;
    color: rgb(250, 77, 77)
  }

  &__total-price-wrapper {
    min-width: 12rem;
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
  }

  &__total-price {
    padding-top: 1rem;
    font-size: 1.8rem;
  }

  &__total-discount-price {
    font-size: 2.0rem;
    color: rgb(250, 77, 77)
  }

  &__price {
    padding-top: 1rem;
    font-size: 1.6rem;
    gap: 1rem;

    &--disabled {
      font-size: 1.3rem;
      color: rgba(69, 69, 69, 0.6);
      text-decoration: line-through;
    }
  }
}


@media screen and (max-width: 650px) {
  .line-item {
    &__actions-group {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    &__btn {
      order: 1;
      width: 100%;
    }

    &__input {
      width: 4rem;
      height: 3rem;
    }

    &__price-group {
      width: 100%;
      gap: 1rem;
      flex-wrap: wrap;
    }

    &__price-wrapper,
    &__total-price-wrapper {
      min-width: 5rem;
    }

    &__total-price {
      font-size: 1.5rem;
    }

    &__price {
      font-size: 1.3;

      &--disabled {
        font-size: 1rem;
      }
    }

    &__dicsount-price {
      font-size: 1.5rem;
    }


    &__total-discount-price {
      font-size: 1.7rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .line-item__img-link {
    width: 7rem;
    height: 7rem;

    font-size: 1.6rem;
  }

  .line-item__link {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 500px) {
  .line-item__total-price-wrapper {
    align-items: start;
  }
}