.cart {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	padding: 2rem 2.5rem;
	gap: 2rem;

	font-family: 'Montserrat', sans-serif;
	color: rgb(22, 22, 22);

	&__title {
		width: 100%;
		display: flex;
		padding: 1rem 0rem;
		font-size: 2.5rem;

		border-bottom: 0.1rem solid rgba(49, 49, 49, 0.3);
	}

	&__item-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
	}

	&__promo-group {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2.2rem;
		min-height: 4rem;
		border: 0.2rem solid black;
	}

	&__btn-group {
		width: 100%;
		display: flex;
		justify-content: end;
		align-items: center;
		padding: 1rem 0rem;
		gap: 2rem;

	}

	&__btn {
		position: relative;

		min-width: 20rem;
		height: 3.5rem;
		padding: 1.2rem;

		display: flex;
		align-items: center;
		justify-content: center;

		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.8rem;
		color: rgb(202, 202, 202);

		background-color: rgb(14, 14, 14);
		border: 0.1rem solid rgb(14, 14, 14);

		transition: all 0.3s;
		cursor: pointer;

		&--clear {
			background-color: rgb(143, 72, 72);
			border: 0.1rem solid rgb(143, 72, 72);
		}

		&--order {
			background-color: rgb(39, 126, 80);
			border: 0.1rem solid rgb(39, 126, 80);
		}
	}

	&__order-group {
		display: flex;
		align-items: center;
		width: 40rem;
		padding: 1.5rem;

		border: 0.1rem solid rgba(94, 184, 94, 0.6);
		background-color: rgba(59, 198, 124, 0.3);
		gap: 1.2rem;
	}

	&__price-wrapper {
		width: 100%;
		min-height: 4rem;
		// padding-bottom: 1rem;
		display: flex;
		flex-direction: column;
		align-items: start;

		gap: 0.5rem
	}

	&__price {
		width: 100%;
		padding-top: 1rem;
		font-size: 2.4rem;
		gap: 1rem;

		&--disabled {
			padding-top: 1rem;
			font-size: 1.8rem;
			color: rgba(69, 69, 69, 0.6);
			text-decoration: line-through;
		}
	}

	&__price-discount {
		font-size: 2.5rem;
		color: rgb(250, 77, 77)
	}
}

.empty-cart {
	padding: 5rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	&__message {
		max-width: 50rem;

		font-size: 2rem;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
	}

	&__link {
		min-width: 20rem;
		height: 3.5rem;
		padding: 1.2rem;

		display: flex;
		align-items: center;
		justify-content: center;

		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.8rem;
		color: rgb(202, 202, 202);

		background-color: rgb(14, 14, 14);
		transition: all 0.3s;
	}
}

@media (hover: hover) {
	.cart__btn {
		&:hover {
			transform: scale(1.05);
		}

		&:active {
			transform: scale(1);
		}
	}

	.empty-cart__link {
		&:hover {
			transform: scale(1.05);
		}

		&:active {
			transform: scale(1);
		}
	}
}

@media screen and (max-width: 1124px) {
	.cart {
		width: 100%;
	}
}

@media screen and (max-width: 910px) {
	.cart__btn-group {
		// flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 1.5rem;
	}

	.cart__order-group {
		width: 100%;
		flex-shrink: 1;
	}

	.cart__btn>.cart__btn--clear {
		order: 4;
		width: 45%;
	}

	.cart__btn {
		order: 3;
		width: 45%;
	}
}

@media screen and (max-width: 800px) {
	.cart__btn-group {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1.2rem;
	}

	.cart__order-group {
		width: 100%;
		flex-shrink: 1;

		flex-direction: column;
		align-self: end;
	}

	.cart__btn {
		width: 100%;
		padding: 2rem;
		font-size: 1.6rem;
	}

	.cart__price {
		width: 100%;
		position: relative;
		padding-top: 1rem;
		font-size: 2rem;

		gap: 1rem;
		text-align: end;

		&::before {
			content: 'Total:';
			font-size: 2rem;
			position: absolute;
			left: 0rem;
		}
	}
}