.sidebar {
  width: 100%;
  padding: 2rem 0rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
  gap: 1rem;
}

.product {
  width: 100%;
  padding: 1rem 0rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border-bottom: 0.1rem solid rgb(54, 54, 54, 0.5);

  &__title {
    font-size: 2.7rem;
    align-self: start;
    font-weight: 600;
  }

  &__price-wrapper {
    width: 100%;
    min-height: 4rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 0.5rem
  }

  &__price {
    padding-top: 1rem;
    font-size: 2.2rem;
    gap: 1rem;

    &--disabled {
      padding-top: 1rem;
      font-size: 1.8rem;
      color: rgba(69, 69, 69, 0.6);
      text-decoration: line-through;
    }
  }

  &__price-discount {
    font-size: 2.5rem;
    color: rgb(250, 77, 77)
  }

  &__button-wrapper {
    width: 100%;
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__button {
    position: relative;
    min-width: 15rem;
    padding: 1rem;

    text-align: center;
    color: rgb(202, 202, 202);

    background-color: rgb(14, 14, 14);
    border: 0.1rem solid rgb(14, 14, 14);

    transition: all 0.3s;
    cursor: pointer;

    &--credit {
      background-color: rgb(38, 87, 84);
    }

    @media (hover: hover) {
      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}

.stars {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.1rem;

  font-size: 2.2rem;

  .star {
    color: rgb(93, 93, 93, 0.8);
    cursor: pointer;
  }

  .star--active {
    color: rgba(168, 147, 29, 0.8);
  }
}

.attributes {
  width: 100%;
  padding: 1rem 0rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 0.1rem solid rgba(54, 54, 54, 0.5);

  &__title {
    padding-bottom: 1.2rem;
    align-self: flex-start;

    font-size: 2rem;
    font-weight: 600;
  }

  &__item-wrapper {
    width: 100%;
    padding: 0.6rem 0rem;

    display: flex;
    gap: 1rem;
  }

  &__name-wrapper {
    display: flex;
    align-items: center;
    width: 60%;
    gap: 1rem;
  }

  &__name {
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__name-decor {
    flex: 1;
    align-self: end;
    align-items: center;
    justify-content: start;

    border-bottom: 0.1rem dotted rgba(148, 148, 148, 0.6);
  }

  &__value {
    max-width: 35%;
    font-size: 1.4rem;
    font-weight: 400;
  }
}

.description {
  width: 100%;
  padding: 1rem 0rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding-bottom: 1.2rem;
    align-self: flex-start;
    font-size: 2rem;
    font-weight: 600;
  }

  &__text {
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    padding: 2rem 0rem 2rem;
    gap: 0.8rem
  }

  .product {
    &__title {
      font-size: 2.4rem;
    }

    &__price {
      font-size: 2.0rem;

      &--disabled {
        font-size: 1.6rem;
      }
    }

    &_price-discount {
      font-size: 2.2rem;
    }
  }

  .attributes {
    &__title {
      padding-bottom: 1rem;
      font-size: 1.8rem;
    }

    &__item-wrapper {
      padding: 0.4rem 0rem;
    }

    &__name,
    &__value {
      font-size: 1.3rem;
    }
  }

  .description {
    width: 100%;
    padding: 1rem 0rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      padding-bottom: 1rem;
      font-size: 1.8rem;
    }

    &__text {
      font-size: 1.3rem;
      line-height: 1.2;
    }
  }
}

@media screen and (max-width: 400px) {
  .product {
    &__button-wrapper {
      justify-content: space-between;
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 385px) {
  .product {
    &__button-wrapper {
      flex-direction: column;
      gap: 1.5rem;
    }

    &__button {
      width: 100%;
      padding: 1.2rem;
    }
  }
}