.catalog {
	margin-top: 100px;
}

// .catalog-content {
// 	/* необходим в root ( который у нас .content поставить этот margin = 120px
//   и не тягать его по всем страницам ))))))  **/
// 	margin-top: 120px;
// 	display: flex;
// 	justify-content: center;
// 	flex-wrap: wrap;
// 	padding: 1rem;
// }

.card-container {
	margin-top: 120px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1rem;
}