.fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.legend {
  align-self: center;
  padding: 0 0 1rem;
  margin: 0;
  font-size: 2.2rem;
  font-family: 'Montserrat', sans-serif;
}