.product-card {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #ff0000;
}

.container-card {
  max-width: 400px;
  padding: 3rem;
}

.link-card {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
}