.card {
  width: 22rem;
  height: 42rem;

  position: relative;
  z-index: 0;
  margin: 0rem -0.1rem -0.1rem 0rem; // убираем double border у соседних карточек (border = 0.1rem)
  padding: 1rem 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 1.5rem;

  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
  border: 0.1rem solid rgb(207, 207, 207);


  cursor: pointer;
  transition: all 0.1s;

  &__img-wrapper {
    width: 100%;
    min-height: 20rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    min-height: 2.8rem;
    font-size: 1.4rem;
    align-self: start;
  }

  &__price {
    padding-top: 1rem;
    font-size: 1.6rem;
    align-self: start;

    &--disabled {
      padding-top: 0.1rem;
      font-size: 1.1rem;
      color: rgba(69, 69, 69, 0.6);
      text-decoration: line-through;
    }
  }

  &__price-discount {
    align-self: start;
    margin-top: -0.5rem;
    font-size: 1.8rem;
    color: rgb(250, 77, 77)
  }

  &__description {
    width: 100%;
    height: 3rem;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
  }

  &__button-cart {
    position: relative;
    min-width: 100%;
    padding: 1rem;

    text-align: center;
    color: rgb(202, 202, 202);

    background-color: rgb(14, 14, 14);
    border: 0.1rem solid rgb(14, 14, 14);

    transition: all 0.3s;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 0.7rem;
      right: 0.8rem;

      display: block;
      opacity: 0;
      width: 2rem;
      height: 2rem;

      background-image: url("../../assets/icons/full-cart.png");
      background-size: 2rem 2rem;
    }

    &--full {
      transform: scale(1);

      &::after {
        opacity: 1;
      }
    }
  }

  .price-wrapper {
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 0.5rem
  }

  @media screen and (hover: hover) {
    &:hover {
      z-index: 13;

      transform: scale(1.1);
      box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);

      transition: all 0.3s;

      .card__button-cart {
        &:hover {
          transform: scale(1.05);
        }

        &:active {
          transform: scale(1);
        }

        &--full:hover {
          transform: scale(1);
        }
      }
    }
  }
}

.redirect-link {
  display: none;
}

.link-card {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 800px) {
  .card {
    width: 50%;
    min-height: 45rem;
  }

  .card__img-wrapper {
    width: 100%;
    height: 25rem;
  }

  .card__description {
    height: 4rem;
    line-height: 1.2;

    white-space: wrap;
    text-overflow: ellipsis;
  }

  @media screen and (hover: hover) {
    .card:hover {
      z-index: 9;

      transform: scale(1.05);
      box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);

      transition: all 0.3s;
    }
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 80%;
    min-height: 40rem;
  }

  .card__img-wrapper {
    width: 100%;
    height: 20rem;
  }

  .card__description {
    height: 3.5rem;
    line-height: 1.4;

    white-space: wrap;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 450px) {
  .card {
    width: 100%;
    min-height: 42rem;
  }

  .card__img-wrapper {
    width: 100%;
    height: 22rem;
  }
}