.login-form {
  margin-top: 10rem;
  padding: 1.5rem;
  width: 35rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.login__title {
  padding: 2rem 0 4rem;

  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: rgb(75, 75, 75);
}


.submit-wrapper {
  width: 100%;
  padding-top: 3.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-hint {
  margin-bottom: -1rem;
  padding: 0;

  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: rgb(75, 75, 75);
}