.login-form {
  margin: 10rem;
  padding: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.login__title {
  font-size: 3rem;
  color: rgb(75, 75, 75);
}