.navbar {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;

  @media screen and (max-width: 800px) {
    & {
      width: 50%;

      position: fixed;
      top: 9.1rem;
      left: -120%;

      background-color: rgba(42, 42, 42, 0.95);

      height: 100vh;
    }

    &--open {
      left: 0%;
    }

    .navigation-link {
      padding: 1.5rem 2rem;

      font-size: 1.6rem;

      color: rgb(248, 248, 248);

      &--active {
        font-size: 1.6rem;
        background: rgba(146, 146, 146, 0.35);
      }

      @media (hover: hover) {
        &:hover {
          background-color: rgba(146, 146, 146, 0.2);
        }
      }
    }

    @media screen and (max-width: 600px) {
      & {
        width: 70%;
      }
    }

    @media screen and (max-width: 500px) {
      & {
        width: 100%;
      }
    }
  }
}

.navigation-link {
  position: relative;
  width: 100%;
  padding: 1rem 2rem;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  color: rgb(55, 55, 55);
  transition: all 0.2s;

  // ◁
  &::after {
    content: '▷';
    position: absolute;
    right: 2rem;
    color: rgb(252, 252, 252);
    transition: all 0.3s;
  }

  @media (hover: hover) {
    &:hover {
      background: rgba(80, 80, 80, 1);
      color: rgb(233, 233, 233);
    }

    &:active {
      &::after {
        right: 1rem;
      }
    }
  }

  &--active {
    background: rgba(6, 6, 6, 0.95);
    color: rgb(233, 233, 233);
  }
}