.profile-form {
  margin-top: 3rem;
  padding: 1.5rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(250, 250, 250);
  padding: 3rem;

  align-items: center;
  gap: 10rem;
}

.login-btn-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-hint {
  margin-bottom: -1rem;
  padding: 0;

  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: rgb(75, 75, 75);
}