.buttons-container-catalog {
  display: none;
  margin-top: -1rem; // добавил чтобы не ломать верхний блок )))
  width: 100%;
  padding-bottom: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  @media screen and (max-width: 800px) {
    & {
      display: flex;
    }
  }

  @media screen and (max-width: 440px) {
    & {
      justify-content: center;
    }
  }
}