.navbar-container {
  width: 100%;
  min-height: 6rem;
  padding: 1.5rem 0rem;

  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.link-wrapper {
  display: flex;
  align-items: center;
}

.navbar-link {
  display: inline-flex;
  padding: 0.5rem 1rem 0.5rem 0rem;

  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: rgb(106, 106, 106);

  &::before {
    content: '/';
    font-size: 1.4rem;
    padding-right: 0.7rem;
    color: rgb(106, 106, 106);
    text-decoration: none;
  }

  &:last-child {
    pointer-events: none;
  }

  @media (hover: hover) {
    &:hover {
      color: rgb(237, 59, 59);
    }
  }
}

.home-logo-wrapper {
  max-width: 1.8rem;
  max-height: 1.8rem;
  margin-right: 1.5rem;

  display: flex;
  align-items: center;

  transition: all 0.2s;

  .navbar-link {
    padding: 0;
    pointer-events: auto;
  }

  .navbar-link::before {
    content: '';
  }

  @media (hover: hover) {
    &:hover {
      transform: scale(1.08);
    }

    &:active {
      transform: scale(1);
    }
  }
}

.logo-image {
  max-width: 100%;
}