$fontFamily: 'Montserrat', sans-serif;

.search-container {
  position: relative;
  display: flex;
  width: 55rem;
  gap: 1rem;

  font-family: $fontFamily;
}

.input-search {
  width: 100%;
  min-height: 3rem;
  padding: 0.45rem;
  box-sizing: border-box;

  font-size: 1.5rem;
  color: #555555;
  background-color: #fdfdfd;

  border-radius: 0;
  outline: 0;
  border: 0.005rem solid #505050;

  transition: all 0.3s;

  &:focus {
    color: #242424;

    outline: none;
    border-radius: 0;
    background-color: #f0f0f0;
  }

  &:hover {
    background-color: #f0f0f0;
  }
}

.search-hint {
  display: flex;
  min-width: 20rem;
  font-size: 1.5rem;
  color: #555555;
  background-color: #fdfdfd;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .search-container {
    width: 100%;
  }
}