.input-pass {
  width: 100%;
  padding: 1rem;
  padding-right: 4.5rem;

  box-sizing: border-box;

  font-size: 1.5rem;
  color: #555555;
  background-color: #fdfdfd;

  border-radius: 0;
  outline: 0;
  border-bottom: 0.005rem solid #505050;

  transition: all 0.3s;

  &:focus {
    color: #242424;

    outline: none;
    border-radius: 0;
    background-color: #f0f0f0;
  }

  &:hover {
    background-color: #f0f0f0;
  }
}