@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@500;700&display=swap');
@import url('./normalize.css');

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-container {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: #000;
  width: 1440px;
}

.navigation {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  color: #000;
  line-height: 86.023%;
  padding: 34px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1440px;
  transition: 1s;
}

.link {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer {
  padding: 100px 0;
  background-color: #000000;
}

.container {
  width: 1440px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #000;
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: 100%;
}

@media (max-width: 1440px) {
  .nav-container {
    width: 100%;
  }

  .container {
   width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {}

@media (min-width: 768px) and (max-width: 1023px) {}

@media (max-width: 767px) {
  .nav-container {
    width: 100%;

    .navigation {
      font-size: 15px;
      padding: 10px 0;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 767px;

      a {
        padding: 2% 0;
        width: 125px;
        height: 35px;
      }
    }
  }

  .footer {
    padding: 50px 0;
  }

  .container {
    max-width: 767px;
  }

}