.modal-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &--active {
    background-color: rgba(59, 59, 59, 0.7);
    position: fixed;
    z-index: 12;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .image-wrap {
      padding: 0rem 3rem;
      width: 100%;
      height: 80vh;
    }

    .slider-wrapper {
      width: 70%;
      height: 90vh;
      background-color: white;

      .modal-btn {
        display: block;
      }
    }
  }
}

.slider-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-btn {
    display: none;
    position: absolute;
    z-index: 12;
    top: 3rem;
    right: 4rem;
    width: 2.5rem;
    height: 2.5rem;

    background-image: url("../../assets/icons/close.png");
    background-size: 2.5rem 2.5rem;
    background-repeat: no-repeat;

    cursor: pointer;
    transition: all 0.3s;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.15);
      }

      &:active {
        transform: scale(1.0);
      }
    }
  }
}

.lock {
  overflow: hidden;
}

.swiper {
  width: 100%;

  &-wrapper {
    padding-bottom: 1rem;
  }

  &-slide {
    text-align: center;
  }

  &-button-prev,
  &-button-next {
    transform: scale(0.8);
    transition: all 0.3s;
  }

  &-button-prev::after,
  &-button-next::after {
    color: rgb(163, 163, 163);
    transition: all 0.3s;
  }

  &--custom {
    .swiper-wrapper {
      padding-bottom: 3rem;
    }

    .swiper-slide {
      display: flex;
      align-self: center;
      justify-content: center;
    }

    .swiper-pagination-bullet {
      width: 1rem;
      height: 1rem;
    }

    .swiper-pagination-bullets-dynamic {

      .swiper-pagination-bullet-active-next,
      .swiper-pagination-bullet-active-prev {
        transform: scale(0.75);
      }

      .swiper-pagination-bullet-active-next-next,
      .swiper-pagination-bullet-active-prev-prev {
        transform: scale(0.5);
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      transform: scale(0.8);
      transition: all 0.3s;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      color: rgb(163, 163, 163);
      transition: all 0.3s;
    }

    .swiper-pagination-bullet-active {
      background: rgb(60, 136, 131);
    }
  }

  .slide-image {
    object-fit: cover;
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
  }
}


.image-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50rem;
}


@media (hover: hover) {
  .swiper-button-prev {
    &:active {
      transform: scale(0.72);
    }
  }

  .swiper-button-next {
    &:active {
      transform: scale(0.72);
    }
  }
}

@media screen and (max-width: 1050px) {
  .modal-wrapper--active .slider-wrapper {
    width: 85%;
  }
}


@media screen and (max-width: 800px) {
  .swiper .slide-image {
    max-width: 100%
  }

  .swiper--custom {

    .swiper-button-next,
    .swiper-button-prev {
      transform: scale(0);
    }
  }

  .modal-wrapper--active {
    .slider-wrapper {
      width: 95%;
    }

    .image-wrap {
      padding: 0rem 1rem;
    }
  }

  .image-wrap {
    width: 100%;
    height: 35rem;
  }
}

@media screen and (max-width: 500px) {
  .image-wrap {
    width: 100%;
    height: 22rem;
  }

  .modal-wrapper--active {
    .image-wrap {
      padding: 0rem 0.5rem;
      height: 65vh;
    }

    .slider-wrapper {
      width: 95%;
      height: 70vh;
    }
  }
}